#waiting {
    color: greenyellow;
    text-align: center;
    display: none;
}

div.error {
    color: #FFFFFF;
    background: #ea7e7e;
    border: 1px solid #a71010;
    padding: 5px;
    margin: 7px;
}

input.error {
    background-color: #EA7E7E;
    border: 2px solid #990000;
}

div.success {
    color: #000000;
    background: #99CC33;
    border: 1px solid #336633;
    padding: 5px;
    margin: 7px;
    font-weight: normal;
}

#additional_opts {
    display: none;
}

#add_place_form label {
    font-weight: bold;
    display: block;
}

#add_place_form h4 {
    color: orange;
    margin: 0 0 10px;
    text-align: center;
}

#add_place_form input[type="text"], #add_place_form textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#add_place_form input.input-sm {
    width: 120px;
}
#add_place_form textarea {
    height: 135px;
}
#add_place_form select[multiple="multiple"]{
    width: 240px;
}
#add_place_form small {
    display: block;
}

.controls {
    clear: both;
    margin: 10px 0 3px;
    overflow: hidden;
}

.col {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.col-4 {
    width: 40%;
}

#form_params_table td:first-child {
    text-align: right;
}

img[id$='_tip'] {
    border: 0 none;
    padding: 0;
    margin: 0;
}

img[id$='_note'] {
    border: 0 none;
    padding: 0;
    margin: 0;
}

#map_canvas {
    width: 100%;
    height: 300px;
    margin: 10px 0;
}